<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>省市区索引</title>
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
        //绑定省
        function bandSheng() {
            url = '/area/0'
            $.get(url, function (data) {
                sheng = $('#sheng')
                sheng.empty()

                $.each(data.data,function (i,item) {
                    sheng.append('<option value ='+item[0]+'>'+item[1]+'</option>')
                })
            })
        }
        function bandShi() {
            url = '/area/'+$('#sheng').val()
            $.get(url, function (data) {
                shi = $('#shi')
                shi.empty()
                $.each(data.data,function (i,item) {
                    shi.append('<option value ='+item[0]+'>'+item[1]+'</option>')
                })
            })

        }
        function bandqu() {
            url = '/area/'+$('#shi').val()
            $.get(url, function (data) {
                qu = $('#qu')
                qu.empty()
                $.each(data.data,function (i,item) {
                    qu.append('<option value ='+item[0]+'>'+item[1]+'</option>')
                })
            })
        }
    </script>
</head>
<body>
<select id="sheng" onchange="bandShi()">
    <option>选择省</option>
</select>
<select id="shi" onchange="bandqu()">
    <option>选择市</option>
</select>
<select id="qu" onclick="">
    <option>选择区</option>
</select>
<input type="button" value="绑定" onclick="bandSheng()"/>
</body>
</html>