<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>

    <style>
        a{
            text-underline: none;
        }
    </style>
    <style type="text/css">
    body{color: #ff2e2f;background:#453;padding:0 5em;margin:0}
    h1{padding:1em 1em;background: #dafaff}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
    </style>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/pace.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/highlights/github.css">
</head>
<body>
    <form action="blogInsert/" method="post">
        {% csrf_token %}
        标题：<input type="text" style="width: 300px" name="title"/><br><br>
        内容：<textarea rows="7" cols="60" name="content"></textarea><br><br>
        <input type="submit" value="发布博客">
    </form>
    <br/>
    <br/>
    <form action="/searchBlog/" method="post">
        {% csrf_token %}
        按文章标题：<input type="text" name="searchStr" style="width: 300px" /> <input type="submit" value="搜索"><br/><br/>
    </form>
    <form action="/searchBlogByAuthor/" method="post">
        {% csrf_token %}
        按作者名称：<input type="text" name="authorName" style="width: 300px" /> <input type="submit" value="搜索"><br/><br/>
    </form>
    {% for bg in blog %}
        <div style="width:700px;text-align: center;border: 1px solid">
            <a href="blog/{{ bg.id }}/" style="text-underline: none">{{ bg.title }}</a><br/><br/>
            <div style="text-align: right">{{ bg.author.name }}</div>
        </div>
    {% endfor %}

    {% for post in blog %}
     <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ post.title }}">{{ post.title }}</a>
            </h1>
            <div class="entry-meta">

                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.pubDate }}">{{ post.pubDate }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author.name }}</a></span>
                <span class="comments-link"><a href="#">{{ post.counter }} 评论</a></span>
                <span class="views-count"><a href="#">{{ post.counter }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ post.excerpt }}</p>
            <div class="read-more cl-effect-14">
                <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
</body>
</html>