<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my first django</title>
</head>
<body>
<script src="/static/js/jquery-3.1.1.js"></script>
<h1 style="background-color: #ff9485">hello world</h1>


<form method="post" action="/login/">
    {% csrf_token %} <!--加入这行解决django跨域问题，不然会没有访问权限-->
    用户名：<input type="text" name="username"/><br/>
    用户密码：<input type="password" name="password"/><br/>
    <input type="submit" value="登录"/>
</form>

<h2 style="color: #ff3d43">已登录用户：</h2>
<table border="1">
    <thead>
        <tr>用户名</tr>
        <tr>密码</tr>
    </thead>
    <tbody>
        {% for user in data %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script language="JavaScript">

    function regx(){
        str = document.getElementById('utest').value
        console.log(str)
        if(str == null || str ==""){
            alert('输入为空')
        }
        var regex = document.getElementById("ureg").value
        if(new RegExp(regex).exec(str)){
            alert('验证成功')
            return
        }
        alert('验证失败')
    }
</script>

正则表达式:<input type="text" name="ureg" id="ureg"/><br/>
正则表达式校验：<input type="text" name="utest" id="utest"/><br/>
<input type="button" value="正则验证" onclick="regx()"/>
<br/>
<a href="/polls/add/8/5">1计算8+5=</a><br/>
<a href="/polls/add_8_5">2计算8+5=</a><br/>
<a href="/polls/8_add_5">3计算8+5=</a><br/>
<a href="{% url 'add' 8 6 %}">4计算8+6=</a>
<a href="{% url 'add_to_min' 8 6 %}">4计算8+6=</a>
</body>
</html>
